<main class="container-fluid {{pageMainClass}}">
	<section class="row">
		<h1>{{title}}</h1>
	</section>	
    <section class="row contactInfo">
		<article class="col-12">
			<h2>Get in Touch!</h2>
			<address>
				Address: 24 Sweets ln, Sweetville 52024<br>
				Phone: 502-555-2024<br>
				Email: Sweettreatsbakery@treats.com<br>
			</address>
		</article>
	</section>	
    <section class="row contactForm">
		<div class="col-12">
			<h3>Send Message</h3>
			<form action="action_page.php" class="row">
				<div class="col-12">
					<label class="form-label" for="fname">First Name</label>
              		<input class="form-control" type="text" id="fname" name="first name" placeholder="Your First Name...">
				</div>
			  <div class="col-12">
				<label class="form-label" for="lname">Last Name</label>
			  	<input class="form-control" type="text" id="lname" name="lastname" placeholder="Your Last Name...">
			  </div>
			  <div class="col-12">
				<label class="form-label" for="email">Email</label>
				<input class="form-control" type="text" id="email" name="email" placeholder="Your Email...">
			  </div>
			  <div class="col-12">
				<label class="form-label" for="contact">Phone</label>
				<input class="form-control" type="text" id="contact" name="phone" placeholder="Your Phone Number...">
			  </div>
			  <div class="col-12">
				<label class="form-label" for="subject">Subject</label>
				<select class="form-select" id="subject" name="subject">
					<option value="question">I have a question?</option>
					<option value="suggestion">Share a suggestion</option>
					<option value="catering">Catering Request</option>
					<option value="rewards">My Sweet Rewards</option>
					<option value="concern">Issues or Concern?</option>
				</select>
			  </div>
			  <div class="col-12">
				<label class="form-label" for="message">Message</label>
			  	<textarea class="form-control" id="message" name="message" placeholder="Type your message here..." style="height:200px;"></textarea>
			  </div>
			  <div class="col-12">
				<input class="btn btn-primary" type="submit" value="Submit">
			  </div>
			</form>
        </div>
	</section>	
</main>