<main class="container-fluid {{pageMainClass}}">
	<section class="row hero">
    <article class="col-12">
        <figure class="row heroWelcome">
          <figcaption class="col-6">
            <h1>Welcome to Sweet Treats Bakery</h1> 
          </figcaption>
          <div class="col-6">
            <img src="https://codeonpointspringfinal2024.s3.amazonaws.com/assets/item_images/breads/baguette-sandwich.webp">
          </div>
        </figure>
        <div class="row heroIntro">
          <p>Welcome to <em>Sweet Treats Bakery!</em> A bakery where dream's rise making life a little sweeter and the artistry of our baker's are tasted in every bite.</p>
        </div>
    </article>
	</section>
  <section class="row featuredItems">
    <div class="col-12">
      <h2>Our Specialties</h2>
    </div>
    <section class="col-12">
      <div class="row">
        {{#each feat}}
          <article class="col-12 col-lg-4 card featCard">
            <img src={{this.image}} class="card-img-top" alt={{this.description}}>
            <div class="card-body">
              <p class="card-text">{{this.itemName}}</p>
            </div>
          </article>
        {{/each}}
      </div>
      
    </section>
    <p>You can't buy Happiness, but you can buy <em>freshly baked</em> goodies with love at first bite here at <em>Sweet Treats Bakery</em></p>
  </section>
  <section class="row aboutUsHome">
    <h3>About Us</h3>
    <p>Sweet Treats Bakery has been baking its neighborhood's favorite treat's since 2024 and is located in San Francisco, CA. From baking our bread's, pastries, and cakes from scratch with natural ingredients to even our delicious latte's visiting our bakery will put the icing on your cake! Our goal is to serve and deliver freshly baked sweet treats to our customer's and remind them that life is always sweet!</p>
  </section>
</main>