<main class="container-fluid {{pageMainClass}}">
	<section class="row hero">
    <article class="col-12">
        <figure class="row heroWelcome">
          <figcaption class="col-6">
            <h1>Welcome to Sweet Treats Bakery</h1> 
          </figcaption>
          <div class="col-6">
            <img src="https://codeonpointspringfinal2024.s3.amazonaws.com/assets/item_images/breads/baguette-sandwich.webp">
          </div>
        </figure>
        <div class="row heroIntro">
          <p>Welcome to <em>Sweet Treats Bakery!</em> A bakery where dream's rise making life a little sweeter and the artistry of our baker's are tasted in every bite.</p>
        </div>
    </article>
	</section>
    <section class="row featuredItems">
        <div class="container">
            <div class="row">
            <div class="m-auto">
            <h2>Our Specialties</h2>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="card">
            <div class="col-12 col-md-4">
            <img src="c:\Users\danth\Downloads\mascarpone-danish.webp" alt="Mascarpone Danish">
           </div>
          </div>
        </div>
          <div class="row">
            <div class="card">
             <div class="col-12 col-md-4">
               <img src="c:\Users\danth\Downloads\iced-latte.webp" alt="Iced Latte">
              </div>
            </div>
        </div>
        <div class="row">
         <div class="card">
            <div class="col-12 col-md-4">
              <img src="c:\Users\danth\Downloads\red-velvet-cake.webp" alt="Red Velvet Cake">
            </div>
         </div>    
        </div>
        <p>You can't buy Happiness, but you can buy <em>freshly baked</em> goodies with love at first bite here at <em>Sweet Treats Bakery</em></p>
    </section>
    <section class="row aboutUsHome">
    </section>
</main>