<main class="container-fluid {{pageMainClass}}">
	<section class="row hero">
        <article class="col-12">
            <figure class="row heroWelcome">
            </figure>
            <div class="row heroIntro">
            </div>
        </article>
	</section>
    <section class="row featuredItems">
    </section>
    <section class="row aboutUsHome">
    </section>
</main>