<main class="container-fluid {{pageMainClass}}">
	<section class="row pageTitle">
        <div class="title">
            <h1>{{title}}</h1>
        </div>
	</section>	
	<section class="row menuSection">
        {{#each items}}
        {{/each}}
	</section>	
</main>