/*
Main/Background: #FFFFFF
Accent: #FF69B4
Primary/Text: #333333
Highlight/Border: #C0C0C0
Tertiary/Shadow: #F2F2F2

*/
:root{
  --main-color: #FFFFFF;
  --accent-color: #FF69B4;
  --primary-color: #333333;
  --highlight-color: #C0C0C0;
  --tertiary-color: #F2F2F2;
  --main-font: "Montserrat", "sans-serif";
  --secondary-font: "Josefin Sans", "sans-serif";
  --menu-box-shadow: 0 0 5px #C0C0C0;
  --section-box-shadow: 0 2px 5px #C0C0C0;
}
*{
  box-sizing: border-box;
}
*::selection{
  background-color: var(--accent-color);
  color: var(--main-color);
}
/*
General Styles
__________________________________
*/

body {
  /*padding: 50px;*/
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.2rem;
  min-height: 100vh;
}
main{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  line-height: 1.5;
}
main > section{
  margin: 30px 0;
}
h1,h2,h3{
 font-family: var(--secondary-font);
}
a{
  text-decoration: none;
}
.bakeryBtn{
  background-color: var(--accent-color);
  color:white;
}
.bakeryBtn:hover{
  background-color: var(--primary-color);
  color:white;
}
/*.cardImg{
  height: auto;
  max-width: 300px;
}*/
/*
Header and Footer Styles
__________________________________
*/

/*Header and Footer*/
header, footer{
  background-color: var(--tertiary-color);
  font-family: var(--secondary-font);
  box-shadow: var(--menu-box-shadow);
  min-height: 10vh;
}

/*Header*/
.mainNav{
  font-size: 1.5rem;
  color: var(--primary-color);
  min-height: 10vh;
}
.logo{
  width: 130px;
  height: auto;
}
.navbar-toggler.hambOuter{
  background-color: var(--accent-color);
}
.navbar-toggler-icon.hambInner{
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navLink{
  color: black;
}
.navLink:hover{
  color: var(--accent-color);
}

/*Footer*/
footer{
  min-height: 10vh;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.footerColWrapper{
  padding: 10px;
  width: 80%;
}
.footerCol{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerCol section{
  display: flex;
  flex-direction: column;
}
.socialCol section{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.socialIcon{
  color: var(--accent-color);
  font-size: 1.5rem;
}
.socialIcon:hover{
  color: var(--primary-color);
}
/*
Homepage Styles
__________________________________
*/
.heroWelcome{
  border-bottom: 1px solid var(--highlight-color);
  padding: 10px 0;
}
.heroWelcome img{
  object-fit: cover;
  width: 100%;
  height:350px;
  -webkit-mask-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1) 60%);
}
.heroWelcome figcaption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.heroTxt{
  font-size: 1.5rem;
}
.featCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--section-box-shadow);
}
.featCard img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}
/*main > figure{
display: flexbox;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 40px;
margin-right: 40px;
}*/

/*figcaption > h1, .heroWelcome{
display: flexbox;
width: 107px;
height: auto;
text-align: left;
padding: 10px; 
border: 5px #C0C0C0;
margin: auto;  
text-decoration: underline;
}*/

/*.heroIntro > p{
display: flexbox;
width: 133px;
height: 19px;
text-align: center;
padding: 10px;
border: 5px #C0C0C0;
margin: auto;
}*/

/*.featuredItems > h2{
display: block;
width: 143px;
height: 24px;
text-align: center;
padding: 10px;
border: 5px #C0C0C0;
margin:auto;
}*/

/*.featCard img{
  display: grid;
  width: 260px;
  height: auto;
  padding: 10px; 
  border: 5px #C0C0C0;
  margin:auto;
  offset: 2;
}*/

/*p{
font-display:var(--main-font);
display: flexbox;
size: 10px;
text-align: justify;
text-wrap:balance;
word-wrap: normal;
font:400;
}*/

/*
Contact Styles
__________________________________
*/
/*address{
display: flex;
flex-direction: row;  
font-style: italic;
text-align: left;
}*/

form{
margin-top: 0em;
gap: 10px;
}
.contactSection > *{
  margin-top: 25px;
}

.contactInfo{
}
.contactInfo article{
  padding: 10px;
  box-shadow: var(--section-box-shadow);
}
/*label{
padding: 12px 12px 12px 0;
display: inline-flexbox;
}*/

/*input[type=text], select, textarea{
width: 100%;
padding: 12px;
border: 1px #C0C0C0;
border-radius: 4px;
resize: vertical;
}*/

/*input[type=submit], .btn-primary{
background-color: #FFFFFF;
color: #FFFFFF;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor:pointer;
float: right;
}*/

/*input[type=submit]:hover{
background-color: #F2F2F2;
}*/



/*
Menu Styles
__________________________________
*/
.menuSection > section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--section-box-shadow);
  padding: 10px 0;
}
.menuItemCard figcaption{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
.menuItemCard figcaption span strong{
  color: var(--accent-color);
}
.menuItemImgWrapper img{
  width: 100%;
  height: auto;
}
.menuItemCard{
  display: flex;
  flex-direction: column;
  box-shadow: var(--section-box-shadow);
  /*height: 400px;*/
  width: 300px;
  gap: 10px;
}


/*
Animations
__________________________________
*/



/*
Media Queries
__________________________________
*/
@media (min-width: 576px){
  footer{
    text-align: left;
  }
  .socialCol section{
    flex-direction: column;
    gap: unset;
  }
  .infoCol{
    justify-content: start;
  }
  .footerColWrapper .footerCol:nth-child(2){
    justify-content: end;
  }
}
/*@media screen and (max-width: 600px) {
  form, input[type=submit]{
  width: 100%;
  margin-top: 0%;
  }
} 
*/
@media (min-width: 768px){
  .menuItemCard{
    width: 550px;
    height: 200px;
    flex-direction: row;
  }
  .menuItemImgWrapper img{
    width: 200px;
    height: auto;
  }
}
@media (min-width: 992px){
  main{
    width: 80%;
  }
}